# Build output
dist/
.astro/
.output/

# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.production
.env.local

# Editors and OS
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

.vercel
